* {
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #92ebe6;
    margin: 10px;
}

.floor-input,
.lift-input {
    margin: 5px;
    font-size: 20px;
}

.floor-input input,
.lift-input input {
    background-color: white;
    border:#111;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.button-floor{
    justify-content: left;
    align-items: flex-start;
    background-color: #ef81f3;
    border: 1px solid;
    margin: 2px;
    border-radius:2px;
    font-size: 10px;
    padding:5px 5px;
    margin-bottom: 5px;
    display: inline;
}

.button-floor:hover {
    transform:scale(1.1)
}

.generatebutton {
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color:#ef81f3;
}

.generatebutton:hover {
    transform: scale(1.1);
}

.lifts {
    width: 60px;
    height: 100px;
    background-color: #ef81f3;
    color: #ef81f3;
    font-size:0;
    position: absolute;
    left: 0;
    top:0;
    border: 2px solid;
    align-items: center;
    border-radius: 5px;
    content: none;
  
}

.lifts p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -0%);
}

.floor {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #92ebe6;
    padding: 5px;
    border-bottom: black 1px dotted;
}

.liftMotion{
    transition-duration: 2s;
}

.lifts .gate {
    position: absolute;
    height: 100%;
    width: 50%;
    border: 1px solid rgb(221, 142, 221);
    background-color: black;;
}

.gateLeft {
    left: 0;
}

.gateRight {
    right: 0;
}

.animateLiftsDoorsOnFloorStop  {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-name: doorSimulation;
}

@keyframes doorSimulation {
    from {
        width: 50%;
    }
    50% {
        width: 0%;
    }
    to {
        width: 50%;
    }
}


/* For mobile */
@media screen and (max-width: 480px) {
    .lifts {
        width: 40px;
        height: 50px;
        background-color: #ef81f3;
        color: #ef81f3;
        font-size:0.5px;
        position: absolute;
        left: -10px;
        margin-left:-14px;
        margin-right:-4px;
        top:0;
        border: 1px solid;
        align-items: center;
        border-radius: 2.5px;
        content: none;
        bottom:0;
        margin-top:50px;
  }
    
    .lifts p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -0%);
  }
    
    .floor {
      height: 100px;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #92ebe6;
      padding: 2.5px;
      border-bottom: black 0.5px dotted;
  }
    
    .lifts .gate {
        position: absolute;
        height: 100%;
        width: 50%;
        border: 1px solid rgb(221, 142, 221);
        background-color: black;
  }
/*.button-floor{
    justify-content: left;
    align-items: flex-start;
    background-color: #ef81f3;
    border: 1px solid;
    margin: 5px;
    border-radius:2px;
    font-size: 8px;
    padding:2px;
    margin-bottom: 0.25px;
    font-size: 2px;
}    */ 
}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .lifts {
        width: 45px;
        height: 50px;
        background-color: #ef81f3;
        color: #ef81f3;
        font-size:0.5px;
        position: absolute;
        left: 0; 
        border: 1px solid;
        align-items: center;
        border-radius: 2.5px;
        content: none;
        bottom:0;
        margin-top:50px;
}
  
  .lifts p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -0%);
}
    
  .floor {
      height: 100px;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #92ebe6;
      padding: 2.5px;
      border-bottom: black 0.5px dotted;
  }
    
 .lifts .gate {
        position: absolute;
        height: 100%;  
        width: 50%;
        border: 1px solid rgb(221, 142, 221);
        background-color: black;;
}
/*.button-floor{
    justify-content: left;
    align-items: flex-start;
    background-color: #ef81f3;
    border: 1px solid;
    margin: 5px;
    border-radius:2px;
    font-size: 8px;
    padding:2px;
    margin-bottom: 0.25px;
    font-size: 2px;
}  */   
}    
